<p-panel header="Pipes númericos" class="p-2">
    <h1>Pipes básicos</h1>
    <p>
        Pipe incluidos en angular- Usualemente en el common modulo
    </p>
</p-panel>



<div class="grid ">
    <div class="col-12  md:col-4">
        <p-card header="Ventas Netas" subheader="del presente año">
            {{ totalSell + 1235 | number:'1.2-2' }}
        </p-card>
    </div>
    <div class="col-12  md:col-4">
        <p-card header="Ventas Brutas" subheader="del presente año">
            {{ totalSell | currency:'USD':'symbol-narrow':'1.0-4'}}
        </p-card>
    </div>
    <div class="col-12  md:col-4">
        <p-card header="Ganancia porcentual" subheader="del presente año">
            {{ percent | percent:'1.2-2'}}
        </p-card>
    </div>
</div>